@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --main-color: #5f27cd;
    --secondary-color: #ff4757;
    --grey-color: #8f8f8f;
    --light-color: #ededed;
    --dark-color: #2f3542;
    --main-box-shadow: rgb(53 38 77 / 30%) 0px 20px 30px -10px;
    --secondary-box-shadow: rgb(1 1 1 / 10%) 0 20px 40px 0;
}

* {
    margin: 0;
    padding: 0;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
}

h1 {
    font-size: clamp(1.75em, 6vw, 3.15em);
    font-weight: 700;
}

h2 {
    font-size: clamp(1.5em, 3vw, 2.5em);
}

h3 {
    font-size: 2.15em;
}

h1, h2, h3 {
    line-height: 1.25;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2em;
}

/* HEADER ========================================== */

.site > header {
    line-height: 100px;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1001;
}

header :where(nav, .menu, .menu ul) {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
}

/* ---- HEADER: LOGO ------------------------------- */

.logo a {
    font-size: 1.75em;
    font-weight: 600;
    letter-spacing: -2px;
}

.logo a span {
    color: var(--dark-color);
    opacity: 0.5;
}

nav :where(.logo, .menu li) a {
    color: white;
}

/* ---- HEADER: MENU ------------------------------- */

.menu li {
    position: relative;
    width: 100%;
}

.menu li a {
    display: flex;
    line-height: initial;
    font-size: 1.25em;
    padding: 0.5em 1em;
    transition: color 0.3s;
}

nav .menu-trigger,
.menu .search-trigger {
    width: 36px;
    height: 36px;
    padding: 0.4em;
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: white;
    transition: background-color 0.3s;
}

nav :where(.menu-trigger, .search-trigger):hover {
    background-color: rgb(225 225 225 / 20%);
}

.menu .has-child > a {
    position: relative;
    padding-right: 2em;
}
.menu .has-child::before,
.menu .has-child::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 10px;
    right: 0.5em;
    border-radius: 50%;
    background-color: var(--secondary-color);
}
.menu .has-child::after {
    transform: scale(2);
    opacity: 0.5;
}
.menu ul ul li {
    width: 100%;
}

/* ---- HEADER: SEARCH ----------------------------- */

.menu .search-trigger {
    position: absolute;
    right: 70px;
}

/* HERO ============================================ */

.hero {
    position: relative;
    height: 850px;
    background-color: var(--main-color);
}

.hero .slide {
    position: fixed;
    width: 100%;
    padding-top: 200px;
    text-align: center;
}

.hero .slide::before,
.hero .slide::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(0 0 0 / 10%);
    top: 60%;
    left: 50%;
    margin: -100px;
    border-radius: 50%;
    z-index: -1;
}

.hero .slide::after {
    transform: scale(2);
}

.hero .slide .wrapper {
    max-width: 830px;
    margin: 0 auto;
    padding: 0 2em;
}

.hero .slide .swiper {
    padding-bottom: 75px;
}

.hero .slide li {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.hero .slide li h2 {
    font-size: clamp(1.75em 6vw 3em);
    text-transform: uppercase;
    color: white;
}

.hero .slide li h2 a,
.title a {
    background-image: linear-gradient(transparent 98%, var(--secondary-color));
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: all 0.7s;
}

.hero .slide li h2 a:hover,
.title a:hover {
    background-size: 100% 100%;
}

.slide :where(.meta, .author) {
    color: white;
}

.meta span {
    font-family: 'Libre Bodon';
    position: relative;
    display: inline-block;
    padding: 0 1em;
}

.meta span::before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0px;
    width: 5px;
    height: 5px;
    background-color: var(--dark-color);
    border-radius: 50%;
    opacity: 0.35;
}

.slide .meta a:hover {
    text-decoration: underline;
}

.slide .meta span::before {
    left: -4px;
}

.slide .meta span:first-child::before {
    content: none;
}

.btn {
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    width: 150px;
    text-align: center;
    line-height: 42px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.read-more {
    background-color: white;
    border: 1px solid white;
    color: var(--dark-color);
    margin: 0 auto;
    box-shadow: var(--main-box-shadow);
}

.read-more:hover {
    background-color: transparent;
    color: white;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active {
    position: relative;
    background-color: var(--secondary-color);
}

.swiper .swiper-pagination .swiper-pagination-bullet-active::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    top: 0px;
    left: 0px;
    right: 0.5em;
    border-radius: 50%;
    background-color: var(--secondary-color);
    transform: scale(2);
    opacity: 0.3;
    z-index: -1;
}

/* SECTION ========================================= */

.section {
    position: relative;
    background-color: #f1f2f6;
    z-index: 1003;
}

.section .container {
    position: relative;
    top: -175px;
}

/* ---- SECTION: MAIN ------------------------------ */

.section main {
    position: relative;
    padding: 100px 0px;
    background-color: white;
    box-shadow: var(--secondary-box-shadow);
    overflow: hidden;
}

.section main::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: -450px;
    left: 50%;
    margin-left: -250px;
}

.section main h3 {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.5em;
    padding-bottom: 1.5em;
}

.section main h3::before,
.section main article::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 50px;
    height: 1px;
    margin-left: -25px;
    background-color: var(--light-color);
}

.section main .post-list {
    max-width: 728px;
    margin: 0px auto;
    padding: 0em 2em;
}

.section main article {
    position: relative;
    padding-bottom: 75px;
    margin-bottom: 75px;
    display: flex;
    flex-direction: column;
}

.section main h2 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.section main .meta {
    color: var(--grey-color);
    margin-bottom: 1em;
}

article .content {
    font-family: 'Libre Bodon';
    font-size: 18px;
}

article .content p {
    margin: 1.5em 0em;
}

article footer .read-more {
    background-color: var(--main-color);
    margin: 2em 0em 0em;
    color: white;
    border-color: transparent;
}

article footer .read-more:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.section main .pagination {
    text-align: center;
}

.section main .pagination button {
    border: 0;
    background-color: var(--light-color);
    cursor: pointer;
}

.section main .pagination button:hover {
    color: white;
    background-color: var(--dark-color);
    box-shadow: var(--main-box-shadow);
}

/* ---- Show 3 articles only ----------------------- */

.section main article:nth-child(3) ~ article {
    display: none;
}

/* ---- SECTION: FOOTER ---------------------------- */

.section .container > footer {
    text-align: center;
    padding-top: 75px;
    color: var(--grey-color);
}

footer .copyright {
    font-size: 14px;
}

/* RESPONSIVE MENU ================================= */

/* ---- PROFILE ------------------------------------ */

@media screen and (min-width: 992px) {
    .profile,
    nav .menu-trigger {
        display: none;
    }

    .menu li {
        width: auto;
    }
    .menu li a {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 1em;
        transition: background-color 0.3s;
    }
    .menu > ul > li > a:hover {
        background-color: rgb(225 225 225 / 20%);
        color: white;
    }

    .menu .search-trigger {
        position: relative;
        right: 0;
    }

    /* SUB-MENU ------------------------------------ */

    .menu .has-child ul {
        position: absolute;
        background-color: white;
        min-width: 150px;
        padding-left: 0;
        box-shadow: var(--secondary-box-shadow);
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0.2s;
    }

    .menu .has-child:hover > ul {
        opacity: 1;
        visibility: visible;
    }

    .menu .has-child ul li a {
        color: var(--dark-color);
        font-size: 12px;
        width: 100%;
        padding: 1em 1.5em;
        transition: transform 0.3s, color 0.3s;
    }

    .menu .has-child ul li a:hover {
        transform: translateX(10px);
        color: var(--main-color);
    }

    .menu ul ul ul {
        top: 0;
        left: auto !important;
        right: 100%;
    }
}